.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qunatity{
  display: flex;
  flex-direction: row;
  width:5%;
  justify-content: space-between;
  font-size: 2rem;
  margin: 10px;
}
.quantity_input{
  width:10%;
  padding: 20px;
  color: #000;
}
.quantity_minus,.quantity_plus{
  padding: 10px;
  background-color: grey;
}